<%= simple_form_for(@teaching_assignment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :teacher_id %>
    <%= f.input :course_id %>
    <%= f.input :semester_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
