<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @enrollment.student_id %>
</p>

<p>
  <b>Course:</b>
  <%= @enrollment.course_id %>
</p>

<p>
  <b>Grade:</b>
  <%= @enrollment.grade %>
</p>

<p>
  <b>Semester:</b>
  <%= @enrollment.semester_id %>
</p>


<%= link_to 'Edit', edit_course_enrollment_path(@enrollment) %> |
<%= link_to 'Back', course_enrollments_path %>
