<h2>Enrolled Students</h2>
<h4><%= pluralize(course.enrollments.size, "Student") %></h4>
<%= simple_form_for(course) do |f| %>
  <%= f.error_notification %>
  <table class="table">
    <tr>
      <th>Student</th>
      <th>Grade</th>
      <th></th>
    </tr>
  <%= f.simple_fields_for :enrollments do |e| %>
      <%= render 'existing_enrollment_fields', :f => e %>
  <% end %>
      <tr><td colspan='3'><%= link_to_add_fields "Add a Student to this Course", f, :enrollments %></td></tr>
  </table>
  <div class="form-actions">
    <%= f.button :submit, "Save Changes", :class => 'btn-info' %>
    <%= link_to "Discard Changes", course, :class => 'btn' %>
  </div>
<% end %>