<%= simple_form_for( @semester ? [@semester, @course] : @course) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :semester %>
    <%= f.input :name %>
    <%= f.input :code %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
