<%= link_to "<< Back to Dashboard", dashboard_path %>
<h1>Listing <%= @semester ? @semester.name : "All" %> Courses</h1>
<%= will_paginate @courses %>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Semester</th>
    <th>Enrolled Students</th>
    <th>Average Gradepoint</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.name %></td>
    <td><%= course.code %></td>
    <td><%= course.semester.name %></td>
    <td><%= course.enrollments_count %></td>
    <td>
      <% if can? :manage, course %>
        <%= render 'gpa', :gpa => course.average_gradepoint %>
      <% end %>
    </td>
    <td><%= link_to 'View', @semester ? semester_course_path(@semester, course) : course %></td>
    
    <td>
      <% if can? :edit, course %>
        <%= link_to 'Edit', @semester ? edit_semester_course_path(@semester, course) : edit_course_path(course) %>
      <% end %>
    </td>

    <td>
      <% if can? :manage, course %>
        <%= link_to 'Delete', @semster ? semester_course_path(@semester, course) : course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
<%= will_paginate @courses %>

<br />
<% if can? :manage, Course %>
<%= link_to 'New Course', @semester ? new_semester_course_path(@semester) : new_course_path %>
<% end %>