<%= link_to "<< Back to Dashboard", dashboard_path %>
<h1>Listing <%= @semester ? @semester.name : "All" %> Courses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Semester</th>
    <th>Enrolled Students</th>
    <th>Description</th>
    <th></th>
    <% if can? :manage, Course %>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.name %></td>
    <td><%= course.code %></td>
    <td><%= course.semester.name %></td>
    <td><%= course.enrollments_count %></td>
    <td><%= course.description %></td>
    <td><%= link_to 'Show', @semester ? semester_course_path(@semester, course) : course %></td>
    <% if can? :manage, Course %>
    <td><%= link_to 'Edit', @semester ? edit_semester_course_path(@semester, course) : edit_course_path(course) %></td>
    <td><%= link_to 'Destroy', @semster ? semester_course_path(@semester, course) : course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if can? :manage, Course %>
<%= link_to 'New Course', @semester ? new_semester_course_path(@semester) : new_course_path %>
<% end %>