<%= link_to "<< Back to Courses", @semester ? semester_courses_path(@semester) : courses_path %>

<%= render 'course_info', :course => @course %>

<% if @grade.present? %>
  <h4>Your Grade: <%= render 'grade', :grade => @grade %></h4>
<% end %>

<% if @average_grade.present? %>
  <h4>Average Grade: <%= render 'grade', :grade => @average_grade %></h4>
<% end %>

<% if can? :manage, @course %>
  <%= render 'course_management', :course => @course, :semester => @semester %>
<% end %>
