<%= link_to "Gradebook", root_path, :class => 'brand' %>
<% if current_user %>
  <p class="navbar-text pull-right"><%= link_to 'Logout', logout_path, :method => :delete %></p>
<% else %>
  <p class="navbar-text pull-right"><%= link_to 'Login', login_path %></p>
<% end %>

<% if current_user %>
<ul class="nav">
  <li class="active"><a href="#">Home</a></li>
  <% if current_user.is_admin? %><li><%= link_to 'Users', users_path %></li><% end %>
  <li><%= link_to 'Courses', courses_path %></li>
  <li><a href="#contact">Students</a></li>
  <li><a href="#contact">Teachers</a></li>
  <% if current_user.is_admin? %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Teachers <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><%= link_to 'View All', users_path %></li>
        <li><%= link_to 'Add New', new_user_path %></li>
      </ul>
    </li>
  <% end %>
</ul>
<% end %>